*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 50px;
    text-align: center;
    background-color: rgb(218, 0, 51);
    color: rgb(249, 246, 246);
}

section{
    min-height: 800px;
    background: url('img/mac.jpg') center/cover no-repeat;
}

.myProjects{
    margin-top: 30px;
}
.myProjects a{
    color: rgb(249, 246, 246);
}
